@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "RetroGaming";
  src: url("./assets/font/Retro\ Gaming.ttf");
}

@font-face {
  font-family: "04b30";
  src: url("./assets/font/04B_30__.TTF");
}

body {
  margin: 0;
  font-family: 'RetroGaming', '04b30', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  background: #FFFFFF;
  color: #6740b0;
}

.font3 {
  font-family: "04b30";
} 

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 8px;
}

#nft-lists::-webkit-scrollbar-thumb {
  background: #8c55bc;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}
/* container */
.container {
  max-width: 100% !important;
  margin: 0 auto !important;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 1140px !important;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px !important;

  }

}

@media only screen and (max-width: 456px) {
  .container {
    max-width: 100% !important;
  }
}

.animation_bottom {
  transition: .4s linear all;
  bottom: -100px;
}

.ani_parent:hover .animation_bottom {
  transition: .4s linear all;
  bottom: 15px;
}

.histry_parent button{
 right: 100px;
 opacity: 0;
 transition: .3s linear all;
}

.histry_parent:hover button{
  right: 30px;
  opacity: 100%;
  transition: .3s linear all;
}
/* common */
.header-main {
  @apply w-full flex flex-col lg:flex-row justify-center items-center lg:justify-between py-5 lg:pl-40;
  background-color: #221f1f;
}

.header-main .category {
  @apply flex lg:right-40 text-white sm:justify-center pt-10 lg:mr-12;
}

.header-main .category a {
  @apply lg:px-6 lg:py-3 px-1 py-2;
}

.header-main .category .wallet_connect {
  background-color: #ff06f5;
  color: #FFFFFF;
  border-radius: 15px;
}

.footer-main {
  background-image: url(./assets/footer.png);
  background-size: cover;
}

.footer-main .body{
  padding: 80px 60px 80px 60px;
  width: 100%;
}

.footer-main .body img {
  height: 80px;
  padding-right: 20px;
}

.footer-main .category-footer {
  /* @apply sm:p-0 sm:justify-center lg:right-0; */
}

.footer-main .footer-icons {
  @apply w-10 h-10 md:w-16 md:h-16 lg:w-16 lg:h-16;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ff06f5;
}

.footer-main .description {
  padding: 40px 60px 20px 60px;
  font-size: 15px;
  color: #454848;
}

.scroll-up-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
  display: none;
}

.scroll-up-button-show {
  display: block;
}


